.category-table {
    padding: 1rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.table th, .table td {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.table th {
    background-color: #21B6A8;
    color: white;
    font-weight: bold;
    text-align: left;
}

.table tr:hover {
    background-color: #f5f5f5;
}

.new-category {
  background-color: #21B6A8 !important;
  color: white !important;
}
